[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
duckdb = "*"
duckdb-engine = "*"
sqlalchemy = "*"

[dev-packages]
black = "*"
memory-profiler = "*"

[requires]
python_version = "3.9"

[scripts]
lint = "black ."
